# Logs
*.log
*.out
*.err

# Build directories
target/
build/
bin/

# Gradle files
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Maven files
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.sublime-workspace
*.sublime-project

# Eclipse/STS
.classpath
.project
.settings/
.springBeans

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Intellij
out/
.sts4-cache/

# Temporary files
*.tmp
*.swp
*.swo
*~

# Operating system files
.DS_Store
Thumbs.db

# Secret files
.env
*.key
*.pem
